*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');
a{
    text-decoration: none;
}
#home-service .section-title{
    margin-left: 65px;
    position: relative;
}
#home-service .section-title h3{
    position: absolute;
    top: 73%;
    z-index: 999;
    left: 3%;
    color: rgba(109, 117, 143, 1);
    font-weight: 900 !important;
}